body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding-top: 70px;
  padding-bottom: 20px;
}

.jumbotron {
  position: relative;
}

.btn-capitalize {
  letter-spacing: 1px;
  text-transform: capitalize;
}

.vs {
  font-size: 16px;
}

.player-name {
  line-height: 20px;

  font-size: 18px;
  font-weight: 400;
}

.team {
  font-weight: 600;
}

.blue {
  color: blue;
}

.red {
  color: red;
}
