<div class="header">
  <h3 class="text-muted">FIFA 14</h3>
</div>
<div class="jumbotron center-block">

  <button class="pick-teams btn btn-success btn-lg btn-block" ng-show="!gamePicked" ng-click="pickTeams()">Begin the battle</button>

  <div class="result center-block" ng-show="gamePicked">
    <div class="left">
      <div class="player-name red">Red Player:</div>
      <span class="team">{{team1}}</span>
     </div>
    <span class="vs">vs</span>
    <div class="right">
      <div class="player-name blue">Blue Player:</div>
      <div class="team">{{team2}}</div>
    </div>
  </div>
</div>
